[submodule "icgc_consensus_copynumber"]
	path = icgc_consensus_copynumber
	url = https://github.com/sdentro/icgc_consensus_copynumber
[submodule "CSR"]
	path = CSR
	url = https://github.com/wwylab/CSR
[submodule "icgc_consensus_purity"]
	path = icgc_consensus_purity
	url = git@github.com:sdentro/icgc_consensus_purity.git
